nav {
    text-decoration-line: none;
}
.title_p {
    text-align: center;
}
.art_marca {
    text-align: center;
    display: inline-block;
}
.text_nom {
    text-align: center;
}
.card {
    align-items: center;
    width: 25rem;
}
.card-title {
    text-align: center;
}
.card:hover {
    color: aquamarine;
}