nav {
    text-decoration-line: none;
    text-align: center;
    font-size: x-large;
    border: solid rgb(162, 218, 218);  
}
.title_p {
    text-align: center;
}
.titulo_p{
    text-align: center;
}
.art_marca {
    text-align: center;
    display: inline-block;
}
.card-img-top{
    display: flex;
    align-items: center;
    width: 16rem;
}
.text_nom {
    text-align: center;
}
.card {
    align-items: center;
    text-align: justify;
}
.card:hover{
    color: rgb(74, 180, 175);
}
.card-title1 {
   text-align: center;
  
}
.card-title2{
    text-align: center;
}

.card-body{
   text-align: justify;
   align-items: center;
}
.card-text{
    text-align: justify;
    background-image: none;
}
.figure {
    width: 200px;
    text-align: center;
    margin: 50px 60px;
      
}
.art_comp{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.card-text{
    text-align: justify;

}
/* aca  se uso el sistema de grid en pagina productos*/
.contianer_p {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:  repeat(4,1fr);
    grid-template-areas: 
        "head head"
        "nav nav"
        "article article"
        "footer footer"
  ;
}
header{
    grid-area: head;

}

/* aca va el css del footer*/
.footer_d {
    align-items: center;
    text-align: center;
}
/* aca va la Media Queries*/
@media (min-width: 768px) and (max-width:1200px) {
    .contianer_p{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:  repeat(4,1fr);
    grid-template-areas: 
        "head head"
        "article article"
        "footer footer"
    }

}
