@import "./partials/variables";
@import "./partials/maps";
@import "./partials/extends";
@import "./partials/headings";
@import "./partials/reseter";
@import "./partials/googleFonts";
@import "./partials/body";
@import "./partials/boton";
@import "./partials/header";
@import "./partials/banner";
@import "./partials/cards";
@import "./partials/sectlab";
@import "./partials/sectD";
@import "./partials/sectVideo";
@import "./partials/footer";
@import "./partials/extends";
@import "./partials/galeria";
@import "./partials/contactPage";
@import "./partials/cardrepuesto";