//barra de navegacion
.navbar{
    text-align: center;
    font-size: x-large;
    ul{
        li:hover{
            background-color:#0cbde9;
            color: #202930;
            padding: 10px 10px;
            border-radius: 8px;
            transition: all 0.5s;
        }
    }
}
.logo {
    width: 140px;
    height: 130px;
}
