.container_g {
      display: grid;
      grid-template-columns: repeat(1,2fr);
      grid-template-rows: repeat(1,2fr);
      grid-template-areas: 
          "header header" 
          "main main"
          "article article"
          "footer footer"
      ;
  }