 body {
  background-color: colorPrimario;
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
    h1{
        font-family: 'Alfa Slab One',cursive;
        text-align: center;
        margin-top: 12px;
    }
    h5{
          text-align:center;
          background-color: colorPrimario;
          padding: 10px 20px;
          border-radius: 100px;
    }
    p{
        text-align: justify;
    }
    strong {
        text-align: center;
    }

}