$primaryColor: #202930;
$bannerFontColor: #247596;
$backgroundColorBody: #fbfbfb;
$openSans: 'Open Sans', sans-serif;
$alfaSlab: 'Alfa Slab One', cursive;
$backgoundColorHeader: linear-gradient(115deg, rgba(42, 91, 197, 0.908) 0%, rgb(126, 147, 165) 100%);
$backgoundColorFooter: linear-gradient(115deg, rgba(42, 91, 197, 0.908) 0%, rgb(126, 147, 165) 100%);
$bgazul:  #5c73d8;
$bgblanco: #dfdfec;